v1/.vscode
v2/.vscode
v3/.vscode
v4/.vscode

v1/server/logs
v2/server/logs
v3/server/logs
v4/server/logs

v1/server/.vscode
v2/server/.vscode
v3/server/.vscode
v4/client/.vscode

v1/client/.vscode
v2/client/.vscode
v3/client/.vscode
v4/client/.vscode

v1/client/client_logs
v2/client/client_logs
v3/client/client_logs
v4/client/client_logs
